.row {
	padding-left: 12px;
	padding-right: 12px;
}

.background-grey {
	background-color: #f7f7f7;
}

.navbar-brand {
	align-items: center;
}

.navbar-brand i {
	font-size: 28px;
	padding: 0 12px 0 6px;
}

.alerts-block {
	padding: 0px !important;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-top: 12px;
	margin-bottom: 12px;
}

.sidebar-block {
	padding: 0px !important;
}

.sidebar-box {
	-webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-bottom: 24px;
}

.sidebar-box-title {
	margin: 6px 12px;
	font-size: 18px;
	font-weight: 600;
	border-bottom: 1px solid #ddd;
}

.sidebar-box-title p {
	margin-bottom: 2px;
}

.main-block {
	padding-bottom: 48px;
}

.footer_main_block {
	padding: 60px 12px 20px 12px;
}

.access_denied_icon {
	padding-top: 48px;
	padding-bottom: 48px;
	font-size: 96px;
}

.access_denied_textarea {
	padding-top: 24px;
}