body {
	background: #f7f7f7;
}

.header_block {
	background: #8faabd;
	margin-bottom: 12px;
}

.header_sidebar {
	background: #648aa4;
	color: #FFF;
	padding-top: 12px;
	padding-bottom: 12px;
}

.header_sidebar a {
	color: #FFF;
	text-decoration: none;
	font-weight: 0;
}

.header_main_block {
	color: #FFF;
	padding-top: 12px;
	padding-bottom: 12px;
}

.header_main_block a {
	color: #FFF;
	text-decoration: none;
}

.center_block {
	background: #FFF;
}

.sidebar_block {
	background: #648aa4;
	color: #FFF;
	padding: 0;
}

.sidebar_block ul li {
	background: #648aa4;
}

.list-group-item {
	color: #eee;
	border: none;
}

.list-group-item:hover {
	background: rgba(0,0,0,0.1);
	color: #FFF;
}

.list-group a {
	text-decoration: none;
}

.list-group a.active .list-group-item {
	background: rgba(0,0,0,0.2);
	color: #FFF;
}

.footer_block {
	background: #364c5b;
}

.footer_block .row {
	color: #FFF;
	padding-top: 36px;
	padding-bottom: 6px;
}

.access_denied_icon {
	font-size: 42px;
	padding-bottom: 12px;
	padding-top: 12px;
}

.access_denied_block {

}

.page_title_block {
	font-size: 28px;
	padding-bottom: 6px;
	border-bottom: 1px solid #eee;
}

.main-block {
	padding-top: 12px;
	padding-bottom: 12px;
}

form .row {
	padding-top: 6px;
	padding-bottom: 6px;
}

form .row .col-12 {
	padding-top: 4px;
	padding-bottom: 4px;
}

form .row .col-6 {
	padding-top: 4px;
	padding-bottom: 4px;
}

form label {
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 4px;
}